.App {
  text-align: center;
}

body {
  background: #000000;
}

h1,h2,h3,h4,h6,p,span {
  font-family: 'Roboto Mono', monospace;
}
h2 {
  color: #FFFFFF;
}


h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  letter-spacing: 2px;
}

a {
  text-decoration: underline;
  color: #fff;
}
a:hover {
  color: #F95D23;
}

hr {
  border-top: 1px solid #FFFFFF;
  width: 100%;
}

.text-small {
  font-size: 14px;
}

.mobile-drawer {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 90%;
  height: 100vh;
  overflow: hidden;
  transform: translateX(-101%);
  transition: transform 500ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .mobile-drawer {
    width: 60%;
  }
}
.mobile-drawer.show {
  transform: translateX(0);
}
.inner-drawer {
  /* background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 1%, rgba(255,255,255,1) 60%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,1) 60%,rgba(0,0,0,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.9) 1%,rgba(255,255,255,1) 60%,rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#ffffff',GradientType=0 ); */
  background: #000000;
  border: 1px solid #FFFFFF;
  position: relative;
  height: 100%;
}

.mobile-drawer .nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 15px;
}
.mobile-drawer .nav ul li {
  padding: 3px 10px;
  min-width: initial;
}
.mobile-drawer .nav ul li a {
  color: #FFFFFF;
  font-family: 'Amatic SC', cursive;
  font-size: 36px;
  letter-spacing: 2px;
  padding: 0;
  text-decoration: none;
}
.mobile-drawer .nav-link.active {
  border-bottom: 1px solid #FFFFFF;
}

header {
  background: #000000;
  padding: 15px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 769px) {
  header {
    background: transparent;
  }
  header.scrolling {
    background: #000000;
  }
}

header img {
  transition: width 0.3s ease-in-out;
}
header .nav,
header .social-icons {
  opacity: 1;
  height: auto;
  transition: height padding 0.3s ease-in-out;
}

header.scrolling img {
  width: 100px;
}
header.scrolling .nav,
header.scrolling .social-icons {
  opacity: 0;
  height: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .main-bkgd {
    background-position: center;
  }
  .header-logo {
    width: 100px;
  }
  .page-div {
    padding-top: 100px;
    /* height: calc(100vh - 90px); */
  }
}

@media screen and (max-width: 1200px) {
  .social-iframe {
    width: 90vw;
  }
}

.page-div {
  position: relative;
  z-index: 1;
  /* overflow: scroll; */
  padding-bottom: 260px;
  min-height: 100vh;
}

footer {
  position: static;
  bottom: 0;
  background: black;
  z-index: 1;
}

@media screen and (min-width: 769px) {
  .page-div {
    padding-top: 300px;
    /* height: calc(100vh - 300px); */
  }
  footer {
    position: static;
    padding-top: 24px;
  }
}

@media screen and (max-width: 767px) {
  .main-bkgd {
    background-size: contain;  }
}

.nav-mobile {
  width: 32px;
  height: 32px;
  /* border: 1px solid #fff; */
  border: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  background: transparent;
}
.nav-mobile span {
  left: 4px;
  width: 22px;
  height: 1px;
  background: #fff;
  position: absolute;
}
.nav-mobile span:nth-child(1) {
  top: 7px;
}
.nav-mobile span:nth-child(2) {
  top: 14px;
}
.nav-mobile span:nth-child(3) {
  top: 21px;
}

.drawer-close {
  width: 32px;
  height: 32px;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-top: 0;
  border-right: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: transparent;
}
.drawer-close span {
  width: 22px;
  height: 1px;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
}
.drawer-close span:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.drawer-close span:nth-child(2) {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.nav {
  padding: 15px 0;
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.nav ul li {
  padding: 3px 10px;
  min-width: 85px;
}
.nav ul li a {
  color: #ffffff;
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  letter-spacing: 2px;
  padding: 0;
  text-decoration: none;
}
.nav ul li.middle-left {
  border-right: 1px solid #ffffff;
  padding-right: 40px;
}
.nav ul li.middle-right {
  padding-left: 40px;
}

.nav-link.active {
  border-bottom: 1px solid #ffffff;
}

.band-pic {
  width: 100%;
}
.bkgd-img {
  position: relative;
}
.bkgd-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 40%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 40%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}

.social-icons {
  padding-top: 10px;
}
.preview-icon {
  color: #ffffff;
  border: 1px solid #fff;
  margin: 0 5px;
}
.social-icons.drawer {
  flex-wrap: wrap;
}
.social-icons.drawer .preview-icon {
  margin: 10px;
}
.social-icons.drawer .preview-icon {
  background: #000000;
  color: #000000;
  border: 1px solid #FFFFFF;
}
@media screen and (min-width: 769px) {
  .preview-icon.middle-left {
    margin-right: 42px;
  }
  .preview-icon.middle-right {
    margin-left: 42px;
  }
}

.preview-icon svg {
  height: 26px;
  width: 26px;
  color: #ffffff;
}
.preview-icon svg#bandcampIcon {
  height: 20px;
  margin-top: -2px;
}

.embed-video {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;
}

.embed-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.show-cat {
  cursor: pointer;
  padding-bottom: 5px;
}
.show-cat.selected {
  border-bottom: 1px solid #ffffff;
}

.show-item {
  background: rgba(0,0,0,0.6);
  text-align: left;
  border-left: 1px solid #ffffff;
  padding: 10px 15px;
}
.show-item p {
  font-size: 14px;
}
.show-item p.text-small {
  font-size: 12px;
}

.photo-item {
  margin-bottom: 30px;
}
.photo-item img {
  width: 100%;
}

.juicer-feed h1.referral a {
  display: none !important;
}

.video-container {
  flex-wrap: wrap;
}

.video-item {
  display: none;
}
.video-item.show {
  display: block;
}

@media screen and (min-width: 769px) {
  .video-item {
    width: 50%;
  }
  .lg-flex {
    display: flex;
  }
}

.section {
  border-bottom: 1px solid #FFFFFF;
}

.social-iframe {
  display:block;
  margin:0 auto;
}

.flex-wrap {
  flex-wrap: wrap;
}